@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'neogroteskpro';
    src: url('../fonts/neogroteskpro-black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'neogroteskpro';
    src: url('../fonts/neogroteskpro-bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'neogroteskpro';
    src: url('../fonts/neogroteskpro-regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'neogroteskpro';
    src: url('../fonts/neogroteskpro-light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'neogroteskpro';
    src: url('../fonts/neogroteskpro-ultralight.otf') format('opentype');
    font-weight: 100;
}
.container{
    @apply px-2 lg:px-6 max-w-[1660px]
}


button,a{
    @apply hover:scale-105 transition duration-500 cursor-pointer
}

input,textarea{
    @apply focus:outline-none px-4 py-2 rounded-md bg-white bg-opacity-10 block w-full text-white
}

label{
    @apply block mb-2
}

input,select,textarea{
    @apply border border-primary border-opacity-50 block w-full h-12 rounded-lg px-4 outline-none text-black
}
select{
    @apply bg-primary text-white
}
